__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Project spesific folders
imagedata/
logs/
combined/
MRI_12/
training_checkpoints/
png2nii/*.nii
Saved models/

# Data files
*.tar
*.gz
*.png
*.jpg
*.zip
